# Ignore the bin and obj folders
bin/
obj/

# Ignore Visual Studio files
.vs/
.vscode/

# Ignore the app's platform-specific files
/platforms/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore Android-specific files
/packages/

# Ignore .NET-related files
project.lock.json
project.fragment.lock.json
